<header>
    <h1>NY TIMES ARTICLES</h1>
</header>
<div>
    <button id='scrape-btn'>SCRAPE</button>
    <button id='saved-articles'>SAVED ARTICLES</button>
</div>
<div id="article-container"></div>
<script src="/js/home.js" type="text/javascript"></script>