<header class="header-container">
    <h1 class="heading-text">DAILY GOSSIP</h1>
    <div>
        <button class="btn scrape-btns" id='scrape-btn'>SCRAPE</button>
        <button class="btn save-btns" id='saved-articles'>SAVED ARTICLES</button>
    </div>
</header>
<div id="article-container"></div>
<script src="/js/home.js" type="text/javascript"></script>