.container {
  min-width: 320px;
  height: 100vh;
}

.header-container {
  background-image: url('../images/newspaper.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-text {
  border: solid;
  width: max-content;
  font-size: 2rem;
  padding: 5px;
}

.btn {
  margin-top: 10%;
  border: solid;
  background: none;
  cursor: pointer;
  font-weight: bold;
}

#article-container {
  padding: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.article-wrapper {
  margin: 2.5% 0;
  padding: 2.5%;
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 0px 0px 12px 2px rgba(139, 139, 139, 0.726);
}

.title {
  font-weight: normal;
  font-size: 1.5rem;
}

.summary {
  letter-spacing: 1px;
  line-height: 20px;
}

.link {
  margin: 10px 0px 0px 0px;
}

.link a {
  text-decoration: none;
}

.save-btn {
  border: 2px solid grey;
  background: transparent;
  margin: 10px 0px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
  }

  .header-container {
    height: 100vh;
  }

  .heading-text {
    font-size: 4rem;
  }

  .btn {
    height: 40px;
    width: 170px;
    font-size: 1rem;
    font-weight: bolder;
  }

  #article-container {
    padding: 1%;
    width: 60%;
  }

  .article-wrapper {
    margin: 1% 0;
    width: 100%;
  }
}
