.add-notes-container {
  display: block;
  z-index: 10;
  position: absolute;
  transform: translateY(-800px);
  transition: all 0.5s;
  background: rgba(65, 64, 64, 0.938);
  /* background: transparent; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#article-id-holder {
  display: none;
}

#title-note {
  margin-top: 10px;
  height: 20px;
}

#body-note {
  margin: 10px 0px;
  height: 200px;
  width: 285px;
  resize: none;
}

#submit-notes-btn {
  margin-top: 0;
  margin-bottom: 10px;
}

.show-hide-notes-container {
  transform: translateY(0);
}

.saved-articles-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.head-continaer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.head-continaer h1 {
  width: max-content;
  font-size: 2rem;
  border: 1px solid;
}

#home-btn {
  margin: 5%;
}

.aside-article-wrapper {
  display: flex;
  width: 100%;
}

.article-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  transition: all 0.5s;
  height: 300px;
}

.notes-container {
  overflow: hidden;
  width: 0px;
  transition: all 0.5s;
  position: relative;
}

.body-title-container {
  width: 100%;
  height: 80%;
}

.body-title-container h3 {
  width: 100%;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}

.body-title-container p {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  text-align: center;
}

#hide-show-note-btn {
  position: absolute;
  bottom: 30px;
  left: 10px;
}
